<h2 class="text-center mb-5 mt-5">Nous contacter </h2>
<!--CONTAINER-->
<div id="contact" class="container d-flex border border-blue text-center mt-1 mb-1 w-75">

  <!--FORMULAIRE CONTACT-->
  <div class="contact text-center mt-5 mb-5 col-6 w-75">
    <form action="" method="">
      <div class="form-row mx-auto">
        <div class="champs mx-auto ">
          <label for="nom">Nom</label>
          <input class="form-control" type="text" id="nom" name="name">
        </div>
      </div>

      <div class="form-row mx-auto">
        <div class="champs mx-auto ">
          <label for="email">E-mail</label>
          <input class="form-control" type="email" id="email" name="email" required>
        </div>
      </div>

      <div class="form-row mx-auto">
        <div class="champs mx-auto">
          <label for="message">Votre message</label>
          <textarea class="form-control" id="message"></textarea>
        </div>
      </div>

      <div>
        <button class="btn btn-gris rounded mt-5 mb-3" type="submit">Envoyer</button>
      </div>
    </form>
  </div>
  <!--/FORMULAIRE CONTACT-->

  <hr class="mx-auto my-auto">

  <!--INFO CONTACT-->
  <div class="info col-6 text-center mb-5 mt-5 mx-auto">
    <div class="telephone text-center mt-4 ">
      <h3>Téléphone</h3>
      <p>06.07.08.09.10</p>
    </div>
    <br>
    <div class="horaires text-center  ">
      <h3>Horaires</h3>
      <p>Du lundi au samedi:<br> 8h à 19h</p>
    </div>
  </div>
  <!--/ INFO CONTACT-->

</div>
<!--/CONTAINER-->
