<footer>


  <div class="page-footer font-small bg-blue mt-5">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- 1ere colonne -->
        <div class="col-md-4 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-white"><u>Informations générales</u></h5>

          <ul id="infos"class="list-unstyled">
            <li>
              <a href="">Mentions légales</a>
            </li>
            <li>
              <a href="">Conditions d'utilisations</a>
            </li>
            <li>
              <a href="">politique de confidentialité</a>
            </li>
          </ul>

        </div>
        <!-- /1ere colonne -->

        <!-- 2ieme colonne -->
        <div class="col-md-4 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-center text-white"><u>Où nous trouver</u></h5>

          <address class="text-center text-white">
            Centre Auto'Ccas<br>
            120 rue de l'automobile<br>
            42000 Saint Etienne<br>
            <hr>
            N° de téléphone:<br>
            06.07.08.09.10
          </address>

        </div>
        <!-- /2ieme colonne -->



        <!-- 3ieme colonne -->
        <div class="col-md-4 mx-auto text-center">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-white"><u>Suivez nous</u></h5>

          <div class="social">

            <a href="#!" class="facebook"></a>
            <a href="#!" class="twitter"></a>
            <a href="#!" class="link"></a>

          </div>

        </div>
        <!-- /3ieme colonne -->



      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <hr>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-bluedark text-white">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </div>






</footer>
