<section id="propos" class="w-75 d-flex m-5 mx-auto justify-content-between">


  <div class="row">
  <div  class="card-group col-md-6 col-sm-12">
    <div class="card d-flex">
      <div class="card-img" >
        <img class="text-center" src="../../../assets/images/profil.jpg" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">A propos</h5>
        <p class="card-text">Avec mes 15 ans d'expérience, je m'efforce de vous proposer un éventail de marque et de modèle le plus large possible, et toujours au meilleur prix.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

  <app-avis id="avis" class="my-auto col-md-6 col-sm-12"></app-avis>
  </div>
</section>
